{% extends "layout.html" %}
{% block content %}

  <div class="masthead" style="background-image: url('static/home/4.jpg')">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1 style="color: green;">HeadpSetUp!</h1>
          <span class="subheading" style="color: #444;">Welcome to the coolest headphone website</span>
          <br>
          <a href="/search">
          <button class="btn" >Get Started</button>
          </a>
        </div>
      </div>
  </div>

{% endblock %}


